# Node
/node_modules/

# GitHub Chatmodes
.github/chatmodes/**

# Playwright
/allure-report/
/allure-results/
/blob-report/
/test-results/
/test-report/
/playwright-report/
/playwright-results/  
/playwright/.cache/
/src/output/**

# .env files and .auth folder
/.auth
.env.*
!.env.template
