    allure-report
    allure-results
    package-lock.json
    playwright-report
    playwright-results
    test-download
    test-results
    test-upload
    test-report
    src/output/test-results
    src/output/test-reports





