# GitHub Chatmodes
.github/chatmodes/**

# Lock files
package-lock.json

# Test results
allure-report
allure-results
playwright-report
playwright-results
test-results
test-report
src/output/allure-results
src/output/allure-reports
src/output/test-results
src/output/test-reports

# ARIA files
src/assets/data/accessability/aria/*.aria.yml